
body{
	margin:0;
	padding:0;
	background:url(../img/bg13.jpg) repeat;
	font-family:Arial, Helvetica, sans-serif;
}
.clear{
	clear:both;
}
header{
	min-height:70px;
	width:100%;
	background:rgba(0,0,0,0.37);
}
.nav{

	float:none;
}
.back_btn{
	margin:0;
	padding:0;
	width:20%;
	text-align:center;
	float:left;
}
.back{
	margin:20px 0 0 10px;
	padding:5px 6px;
	background:#D27839;
	float:left;
    display:inline-block;
	font-size:14px;
	border-radius:4px;
	text-decoration:none;
	color:#FFF;
    box-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
}
.back:hover{
	color:#333;
}
.get_opinion{
	margin:0;
	padding:0;
	width:60%;
	text-align:center;
	float:left;
}
.get_opinion a{
	color:#FFF;
	text-decoration:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:67px;
}
.get_opinion a:hover{
	color:rgba(255,153,62,0.80);
}
.cost_btn{
	margin:0;
	padding:0;
	float:left;
	width:20%;
	text-align:center;
}
.cost{
	margin:20px 0 0 0;
	padding:5px 6px;
	background:#D27839;
	font-size:14px;
	border-radius:4px;
	text-decoration:none;
	color:#FFF;
	display:inline-block;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.cost:hover{
	color:#333;
}
.home{
	margin:0;
	padding:0;
	text-align:center;
}
.home a{	
	font-size:23px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	text-decoration:none;
	line-height:60px;
	display:block;
}
.home a:hover{	
	color:rgba(255,153,62,0.80);
}
.center_btn{
	margin:30px auto 0;
	width:40%;
}
.btn{
	margin:10px auto;
	padding:0;
	height:80px;
	width:80%;
	text-align:center;
}
.btn a{
	padding:14px 0;
	border-radius:4px;
	color:#FFF;
	text-decoration:none;
	background:rgba(0,0,0,0.55);
	display:block;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow:0 1px 2px 0 #ADADAD;
}
.btn a:hover{
	background:rgba(255,153,62,0.50);
	color:#333;
}
.center{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
	position:absolute;
	top:28%;
	
}
.center a{
	display:block;
	width:100%;
	text-align:center;
}
footer{
	min-height:70px;
	width:100%;
	background:rgba(0,0,0,0.37);
	position: absolute;
	bottom:0;
}
.home_btn{
	width:78% !important;
}

/*friend list page css*/
section{
	width:100%;
	background:rgba(0,0,0,0.23);
	border-top:1px solid rgba(153,153,153,0.50);
	padding-bottom:70px;
}
.top_row{
	width:98%;
	box-shadow:0 2px 6px #333;
	min-height:23px;
	background:#D27839;
	/*background:linear-gradient(rgba(255,175,70,0.70),rgba(231,131,4,0.70));*/
	border-radius:4px;
}
.friend_list_back_btn{
	width:50%;
}
.friend_list_cost_btn{
	width:50%;
}
.cost_btn input[type="text"]{
	padding:7px 21px;
	margin:20px 10px  0 0;
	float:right;
	border-radius:4px;
	color:#FFF;
	background:url(../img/search-white.png) no-repeat #D27839;
	font-size:14px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	border:none;
}
.friend_list_cost_btn a{
	margin: 20px 10px 0 0;
	float:right;
}
section p{ 
	margin:0 !important;
	min-height:20px;
    padding:5px 0;
	border-bottom:1px solid rgba(153,153,153,0.50);
}
section p:hover {
	background:#e4973d;
}
section p:hover span{
	color:#333;
}
section p span{
	color:#EBEBEB;
	font-size:19px;
	cursor:default;
	padding-left:5px;
}
section p input[type="checkbox"]{
	margin-top:5px;
}

/*confirm page page css*/
.confirm_popup{
	background:url(../img/popup-background-fade-2.png) no-repeat;
	height:315px;
    left:2.8%;
    position:absolute;
    top:14%;
    width:300px;
}
.confirm_text{
	color:#fff;
    display:block;
    font-family:arial;
    font-size:12px;
    margin:0;
    padding:20px 0 0 14px;
}
.select_box{
	display: block;
    margin:11% auto 0;
    width: 90%;
}
.select_country{
	padding:4px 0;
	width:90%;
	display:block;
	min-height:30px;
	cursor:pointer;
	margin-left:5%;
}
.select_country:focus{
	background: none repeat scroll 0 0 rgba(170, 170, 170, 0.55);
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 6px #AAAAAA;
}
.confirm_no{
	margin:13px 0 0 15px;
}
.confirm_no span{
	width:10%;
	float:left;
	border:1px solid#ccc;
	border-right:none;
	background:#fff;
	font-weight:bold;
	font-size:13px;
	line-height:30px;
	min-height:30x;
	color:#333;
	margin:10px 0 0 15px;
}
.confirm_no input[type="text"]:focus{
	background: none repeat scroll 0 0 rgba(170, 170, 170, 0.55);
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 6px #AAAAAA;
	color:#fff;

}
.confirm_no input[type="text"]{
	width:83%;
	min-height:30px;
	border:1px solid#ccc;
	border-left:none;
	padding:0 2px;
	margin:4px 0 0 0;
	font-size:13px;
}
.confirm_no input[type="number"]{
	width:75%;
	min-height:30px;
	border:1px solid#ccc;
	border-left:none;
	padding:0 2px;
	margin:10px 0 0 0;
	font-size:13px;
}
.name_input{
	margin:28px 14px 0 !important;
	width:84% !important;
}
.confirm_no_button{
	padding:6px;
	width:30%;
	min-height:24px;
	border:none;
	cursor:pointer;
	background:rgba(210,120,57,1);
	border:1px solid #d27839;
    box-shadow:0 1px 2px #333333;
    color:#FFF;
	margin:10% auto 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;	
	border-radius: 3px;
	display:block;
}
.confirm_no_button:hover{
	color:#333;
}


/*winner page css*/
.winner{
	position:absolute;
	top:10%;
	left:17%;
}
.winner_box{
	color:#fff;
	font-size:24px;
	font-weight:bold;
	padding:10px 65px;
	background:rgba(0,0,0,0.37);
}
.winner_photo{
	background:rgba(0,0,0,0.37);
	margin:5px 0;
}
.winner_photo img{
	width:211px;
	height:240px;
}
.percentage_box{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.37);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    left: 15%;
    margin: 4px 0;
    padding: 10px 19px;
}




@media(min-width:701px) and (max-width:1000px){
.btn{
	margin:10px auto;
	padding:0;
	height:50px;
	width:100%;
	text-align:center;
}
section{
	padding-bottom:0;
}
}
@media(min-width:1000px){
body{
	position:relative;
}
}
@media(min-width:320px) and (max-width:700px){
.center_btn{
	margin:100px auto 0;
	width:80%;
}
.btn{
	margin:36px auto;
	padding:0;
	height:40px;
	width:91% !important;
	text-align:center;
}
}


/*
   css for popup box
*/


.confirm_no_popup
	{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
	}
.confirm_popup_setting
	{
			display: none;
			position: absolute;
			top: 25%;
			left: 7%;
			width: 85%;
			height: 34%;
			background-color: #F52887;
			z-index:1002;
			overflow: auto;
	}
	
	